{%- set built_host_volumes = [] -%}
{%- for volume in host_volumes -%}
    {%- if volume.path is defined -%}
        {%- set _ = built_host_volumes.append({ 'name': volume.name + '-' + volume['post-fix'], 'path': volume.path }) -%}
    {%- elif volume.paths is defined and volume.paths | length > 0 -%}
        {%- set _ = built_host_volumes.append({ 'name': volume.name + '-' + volume['post-fix'], 'path': volume.paths | first }) -%}
    {%- endif -%}
{%- endfor -%}
{{ built_host_volumes }}