{%- set built_host_volumes = [] -%}
{%- for volume in host_volumes -%}
    {%- if not volume.per_host|default(false) -%}
        {%- set name = volume.name + '-' + volume['post-fix'] -%}
    {%- else -%}
        {%- set name = volume.name + '-' + volume['post-fix'] + '-' + inventory_hostname  -%}
    {%- endif -%}
    {%- if volume.unique is defined and not volume.unique | bool -%}
        {%- set name = volume.name -%}
    {%- endif -%}
    {%- set path = '' -%}
    {%- if volume.path is defined -%}
        {%- set path = volume.path -%}
    {%- elif volume.paths is defined and volume.paths | length > 0 -%}
        {%- set path = volume.paths | first -%}
    {%- endif-%}

    {%- set _ = built_host_volumes.append({ 'name': name, 'path': path }) -%}

{%- endfor -%}
{{ built_host_volumes }}